<section class='tab peoples {{tab.cssClass}}' data-group='primary' data-tab='peoples'>
  <div class="cm-cities-app-tab-header flexrow no-wrap" style="gap:4px;">
    <div class="flex1 left">
      <div class="field-label">Population</div>
    </div>
    <div class="flex1 right">
      <div class="field-label">Base</div>
    </div>
    <div class="flex1 center">
      <input class="field-value center" name="city.population.nbr" type="number" value="{{city.population.nbr}}"
        data-dtype="Number" {{#unless isEditable}}disabled{{/unless}}>
    </div>
    <div class="flex1 right">
      <div class="field-label">Max</div>
    </div>
    <div class="flex1 center">
      <input class="field-value center" name="city.population.max" type="number" value="{{city.population.max}}"
        data-dtype="Number" {{#unless isEditable}}disabled{{/unless}}>
    </div>
  </div>
  <hr>
  <div class="flexrow table-header no-wrap" style="gap:4px">
    <div class="flex2 left">
      Habitants notables
    </div>
    <div class="flex1 center">
      <div class="field-label">Rôle</div>
    </div>
    <div class="flex1 center" style="max-width: 40px;">
      <div class="field-label"></div>
    </div>
  </div>
  {{#each city.population.peoples}}
  <div class="flexrow no-wrap cm-cities-app-tab-line" style="gap:4px">
    <div class="flex2">
      <a class="flexrow no-wrap" style="gap:4px" data-action="showDetails" data-uuid="{{uuid}}">
        <img style="flex: none" width="30px" height="30px" src="{{img}}" />
        <span style="flex: auto;"><strong>{{name}}</strong></span>
      </a>
    </div>
    <div class="flex1 center">
      <input class="field-value" type="text" name="city.population.peoples.{{@key}}.role" value="{{role}}" {{#unless
        @root.isEditable}}disabled{{/unless}} />
    </div>
    <div class="flex1 center" style="max-width: 40px;">
      {{#if @root.isEditable}}
      <button style="flex: none" type="button" data-action="removePeople" data-id="{{id}}"><i
          class='fas fa-trash'></i></button>
      {{/if}}
    </div>
  </div>
  {{/each}}
  {{#if isEditable}}
  <div class="drop-zone" data-drop-peoples="true">
    {{#if hasNoPeoples}}<p class="center"><i>{{localize "CM.app.tab.peoples.empty"}}</i></p>{{/if}}
  </div>
  {{/if}}
</section>