<section class='tab buildings {{tab.cssClass}}' data-group='primary' data-tab='buildings'>
  <div class="cm-cities-app-tab-header flexrow table-header no-wrap" style="gap:4px">
    <div class="left">
      <div class="field-label">{{localize "CM.app.city.tab.buildings.header.name"}}</div>
    </div>
    <div class="flex1 center" style="max-width: 40px;">
      <div class="field-label">{{localize "CM.app.city.tab.buildings.header.nbr"}}</div>
    </div>
    <div class="flex1 center" style="max-width: 80px;">
      <div class="field-label"><span data-tooltip="{{localize "CM.app.city.tab.buildings.header.price.infos"}}"><i
            data-tooltip="{{localize "CM.currency.sp.label"}}" class="fas fa-coins" style="color:silver"></i> {{localize
          "CM.app.city.tab.buildings.header.price.label"}}</span></div>
    </div>
    <div class="flex1 center" style="max-width: 80px;">
      <div class="field-label"><span data-tooltip="{{localize "CM.app.city.tab.buildings.header.cost.infos"}}"><i
            data-tooltip="{{localize "CM.currency.sp.label"}}" class="fas fa-coins" style="color:silver"></i> {{localize
          "CM.app.city.tab.buildings.header.cost.label"}}</span></div>
    </div>
    <div class="flex1 center" style="max-width: 40px;">
      <div class="field-label"></div>
    </div>
  </div>
  {{#each city.buildings}}
  <div class="flexrow no-wrap cm-cities-app-tab-line" style="gap:4px">
    <div>
      <a class="flexrow no-wrap" style="gap:4px" data-action="showDetailsBuilding" data-id="{{id}}">
        <img class="flex0" width="30px" height="30px" src="{{img}}" />
        <span class="flexauto underline"><strong>{{name}}</strong></span>
      </a>
    </div>
    <div class="flex1 center" style="max-width: 40px;">
      <input class="field-value center" type="text" name="city.buildings.{{@key}}.nbr" value="{{nbr}}"
        data-dtype="Number" {{#unless @root.isEditable}}disabled{{/unless}} />
    </div>
    <div class="flex1 center" style="max-width: 80px;">
      <input class="field-value center" type="text" name="city.buildings.{{@key}}.price" value="{{price}}"
        data-dtype="Number" {{#unless @root.isEditable}}disabled{{/unless}} />
    </div>
    <div class="flex1 center" style="max-width: 80px;">
      <input class="field-value center" type="text" name="city.buildings.{{@key}}.cost" value="{{cost}}"
        data-dtype="Number" {{#unless @root.isEditable}}disabled{{/unless}} />
    </div>
    <div class="flex1 center" style="max-width: 40px;">
      {{#if @root.isEditable}}
      <button type="button" data-action="removeBuilding" data-tooltip="{{localize "CM.app.city.tab.buildings.btn.delete.infos"}}"
        data-id="{{id}}"><i class='fas fa-trash'></i></button>
      {{/if}}
    </div>
  </div>
  {{/each}}
  {{#if isEditable}}
  <div class="drop-zone-header flexrow no-wrap">
        {{#if hasNoBuildings}}<p class="center"><i>{{localize "CM.app.city.tab.buildings.empty"}}</i></p>{{/if}}
        <!-- New entry button -->
        <div class="right cm-cities-app-tab-line">
            <button type="button" data-action="addNewBuilding"><i class='fas fa-plus'></i> {{localize
                "CM.app.city.tab.buildings.new.btn"}}</button>
        </div>
    </div>
  <div class="drop-zone {{#if hasNoBuildings}}drag-over{{/if}}" data-drop-buildings="true">
  </div>
  {{/if}}
</section>