<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='stats'>
        <!--<p><b>{{localize "CM.app.tab.stats"}}</b></p>-->
        <div class="cm-cities-app-tab-header flexrow table-header no-wrap" style="gap:4px">
                <div class="flex1 center">
                        <div class="field-label"></div>
                </div>
                <div class="flex1 center">
                        <div class="field-label">Base</div>
                </div>
                <div class="flex1 center">
                        <div class="field-label">Bonus</div>
                </div>
                <div class="flex1 center">
                        <div class="field-label">Malus</div>
                </div>
                <div class="flex1 center">
                        <div class="field-label">Total</div>
                </div>
                <div class="flex1 center" style="max-width: 30px;">
                        <div class="field-label"></div>
                </div>
        </div>
        {{#each city.stats as |stat id|}}
        <div class="flexrow no-wrap cm-cities-app-tab-line" style="gap:4px">
                <div class="flex1">{{localize stat.label }}</div>
                <div class="flex1 center">
                        <input class="field-value center" type="text" name="city.stats.{{id}}.base"
                                value="{{stat.base}}" data-dtype="Number" data-keystat="{{id}}" data-keyatt="base"
                                {{#unless @root.isEditable}}disabled{{/unless}} />
                </div>
                <div class="flex1 center">
                        <input class="field-value center" type="text" name="city.stats.{{id}}.bonus"
                                value="{{numberFormat stat.bonus decimals=0 sign=true}}" data-dtype="Number"
                                data-keystat="{{id}}" data-keyatt="bonus" {{#unless
                                @root.isEditable}}disabled{{/unless}} />
                </div>
                <div class="flex1 center">
                        <input class="field-value center" type="text" name="city.stats.{{id}}.malus"
                                value="{{numberFormat stat.malusDisplay decimals=0}}" max="0" data-dtype="Number"
                                data-keystat="{{id}}" data-keyatt="malus" {{#unless
                                @root.isEditable}}disabled{{/unless}} />
                </div>
                <div class="flex1 center">
                        <input disabled readonly="true" class="field-value center" name="city.stats.{{id}}.value"
                                type="text" value="{{stat.value}}" data-dtype="Number" />
                </div>
                <div class="flex1 center" style="max-width: 30px;">
                        <a class="flex0 center" data-action="rollStats" data-id="{{id}}"><i class="fas fa-dice-d10"
                                        style=""></i><i class="fas fa-dice-d10" style=""></i></a>
                </div>
        </div>
        {{/each}}
</section>