<section>
    <header class="cm-cities-app-header flexrow no-wrap">
        <img class="flex0 cm-cities-app-header-avatar" src="{{city.img}}" data-action="editImage" data-field="img"
            data-edit="city.img" data-tooltip="{{localize "CM.app.city.tab.header.avatar.tooltip"}}" />
        <div>
            <h1 class="cm-cities-app-header-title">
                <input type="text" name="city.name" value="{{city.name}}"
                {{#unless isEditable}}disabled{{/unless}} />
            </h1>
            <div class="flexrow no-wrap gap4">
                <input class="flex2" type="text" name="city.description" value="{{city.description}}" placeholder="{{localize "CM.app.city.tab.header.city.desc.placeholder"}}"
                {{#unless isEditable}}disabled{{/unless}} />
                <select name="city.size">
                    {{selectOptions citySizeChoices selected=city.size localize=true}}
                </select>
            </div>
        </div>
    </header>
</section>