<section class='tab finances {{tab.cssClass}}' data-group='primary' data-tab='finances'>
  <!-- Treasury -->
  <div class="flexrow no-wrap cm-cities-app-tab-header cm-cities-app-treasury-currencies">
    <div class="flex1 left">{{localize "CM.app.city.tab.treasury.currencies"}}</div>
    <!-- Platine coin -->
    <div class="flex1 left flexrow" style="gap:4px;">
      <i data-tooltip="CM.currency.pp.label" class="flex0 fas fa-coins" style="color:dimgray"></i>
      <input class="flex1 field-value center" name="city.finances.treasury.currencies.pp" type="number"
        value="{{city.finances.treasury.currencies.pp}}" data-dtype="Number" {{#unless isEditable}}disabled{{/unless}}>
    </div>
    <!-- Gold coin -->
    <div class="flex1 left flexrow" style="gap:4px;">
      <i data-tooltip="CM.currency.gp.label" class="flex0 fas fa-coins" style="color:goldenrod"></i>
      <input class="flex1 field-value center" name="city.finances.treasury.currencies.gp" type="number"
        value="{{city.finances.treasury.currencies.gp}}" data-dtype="Number" {{#unless isEditable}}disabled{{/unless}}>
    </div>
    <!-- Silver coin -->
    <div class="flex1 left flexrow" style="gap:4px;">
      <i data-tooltip="CM.currency.sp.label" class="flex0 fas fa-coins" style="color:silver"></i>
      <input class="flex1 field-value center" name="city.finances.treasury.currencies.sp" type="number"
        value="{{city.finances.treasury.currencies.sp}}" data-dtype="Number" {{#unless isEditable}}disabled{{/unless}}>
    </div>
    <!-- Copper coin -->
    <div class="flex1 left flexrow" style="gap:4px;">
      <i data-tooltip="CM.currency.cp.label" class="flex0 fas fa-coins" style="color:saddlebrown"></i>
      <input class="flex1 field-value center" name="city.finances.treasury.currencies.cp" type="number"
        value="{{city.finances.treasury.currencies.cp}}" data-dtype="Number" {{#unless isEditable}}disabled{{/unless}}>
    </div>
  </div>
  <hr>
  <!-- Entries -->
  <div class="cm-cities-app-tab-header flexrow table-header no-wrap" style="gap:4px">
    <div class="center">
      <div class="field-label" data-action="sortObjects" data-field="label">
        {{localize "CM.app.city.tab.finances.entries.header.label"}}
        {{#if (eq @root.financesEntriesSort.field "label")}}
            <i class="fas fa-sort-{{#if (eq @root.financesEntriesSort.direction 1)}}down{{else}}up{{/if}}"></i>
        {{else}}
            <i class="fas fa-sort"></i>
        {{/if}}
      </div>
    </div>
    <div class="flex1 center">
      <div class="field-label" data-action="sortObjects" data-field="type">
        {{localize "CM.app.city.tab.finances.entries.header.type"}}
        {{#if (eq @root.financesEntriesSort.field "type")}}
            <i class="fas fa-sort-{{#if (eq @root.financesEntriesSort.direction 1)}}down{{else}}up{{/if}}"></i>
        {{else}}
            <i class="fas fa-sort"></i>
        {{/if}}
      </div>
    </div>
    <div class="flex1 center">
      <div class="field-label" data-action="sortObjects" data-field="value">
        <span data-tooltip="Value"><i data-tooltip="CM.currency.sp.label" class="fas fa-coins"
            style="color:#c0c0c0"></i> {{localize "CM.app.city.tab.finances.entries.header.value"}}</span>
        {{#if (eq @root.financesEntriesSort.field "value")}}
            <i class="fas fa-sort-{{#if (eq @root.financesEntriesSort.direction 1)}}down{{else}}up{{/if}}"></i>
        {{else}}
            <i class="fas fa-sort"></i>
        {{/if}}
      </div>
    </div>
    <!-- delete button header -->
    {{#if @root.isEditable}}
    <div class="flex1 center" style="max-width: 40px;">
      <div class="field-label"></div>
    </div>
    {{/if}}
  </div>
  {{#if hasNoEntries}}<p class="center"><i>{{localize "CM.app.city.tab.finances.entries.empty"}}</i></p>{{/if}}
  {{#each city.finances.entries}}
  <div class="flexrow no-wrap cm-cities-app-tab-line" style="gap:4px">
    <div class="flex0">
        <i class="{{type.icon}}"></i>
    </div>
    <div>
      <!-- label -->
      <input class="field-value center" type="text" name="city.finances.entries.{{@key}}.label" value="{{label}}"
        {{#unless @root.isEditable}}disabled{{/unless}} />
    </div>
    <div class="flex1 center">
      <!-- type -->
      <select class="field-value center" name="city.finances.entries.{{@key}}.type" value="{{type}}" {{#unless
        @root.isEditable}}disabled{{/unless}}>
        {{selectOptions @root.financeEntryTypes selected=type.key valueAttr="key" labelAttr="label" localize=true}}
      </select>
    </div>
    <div class="flex1 center">
      <!-- value -->
      <input class="field-value center" type="text" data-dtype="Number" name="city.finances.entries.{{@key}}.value"
        value="{{value}}" {{#unless @root.isEditable}}disabled{{/unless}} />
    </div>
    <!-- delete button -->
    {{#if @root.isEditable}}
    <div class="flex1 center" style="max-width: 40px;">
      <button type="button" data-action="removeFinanceEntry" data-id="{{id}}"><i class='fas fa-trash'></i></button>
    </div>
    {{/if}}
  </div>
  {{/each}}
  <!-- New entry button -->
  {{#if isEditable}}
  <div class="cm-cities-app-tab-header right cm-cities-app-tab-line">
    <button type="button" data-action="addNewFinanceEntry"><i class='fas fa-plus'></i> {{localize
      "CM.app.city.tab.finances.entries.new.btn"}}</button>
  </div>
  {{/if}}
  <hr>
  <!-- total line -->
  <div class="cm-cities-app-tab-header cm-cities-app-tab-line left gap4">
    <!-- Incomes -->
    <div class="flex1 flexrow gap4">
      <div class="right field-label">{{localize "CM.app.city.tab.finances.total.incomes.label"}}</div>
      <input readonly="true" data-dtype="Number" type="text" class="field-value center"
        value="{{city.finances.total.incomes}}"/> <i data-tooltip="CM.currency.sp.label" class="fas fa-coins flex0" style="color:silver"></i>
    </div>
    <!-- Treasury -->
    <div class="flex1 flexrow gap4">
      <div class="right field-label">{{localize "CM.app.city.tab.finances.total.treasury.label"}}</div>
      <input readonly="true" data-dtype="Number" type="text" class="field-value center"
        value="{{city.finances.total.treasury}}"/> <i data-tooltip="CM.currency.sp.label" class="fas fa-coins flex0" style="color:silver"></i>
    </div>
    <!-- Vault -->
    <div class="flexauto flexrow gap4">
      <div class="right field-label">{{localize "CM.app.city.tab.finances.total.vaults.label"}}</div>
      <input readonly="true" data-dtype="Number" type="text" class="field-value center"
        value="{{city.finances.total.vaults}}"/> <i data-tooltip="CM.currency.sp.label" class="fas fa-coins flex0" style="color:silver"></i>
    </div>
  </div>
  <div class="cm-cities-app-tab-header cm-cities-app-tab-line left gap4">
    <!-- Expenses -->
    <div class="flex1 flexrow gap4">
      <div class="right field-label">{{localize "CM.app.city.tab.finances.total.expenses.label"}}</div>
      <input readonly="true" data-dtype="Number" type="text" class="field-value center"
        value="{{city.finances.total.expenses}}"/> <i data-tooltip="CM.currency.sp.label" class="fas fa-coins flex0" style="color:silver"></i>
    </div>
    <!-- Armies -->
    <div class="flex1 flexrow gap4">
      <div class="right field-label">{{localize "CM.app.city.tab.finances.total.armies.label"}}</div>
      <input readonly="true" data-dtype="Number" type="text" class="field-value center"
        value="{{city.finances.total.armies}}"/> <i data-tooltip="CM.currency.sp.label" class="fas fa-coins flex0" style="color:silver"></i>
    </div>
    <!-- Buildings -->
    <div class="flexauto flexrow gap4">
      <div class="right field-label">{{localize "CM.app.city.tab.finances.total.building.label"}}</div>
      <input readonly="true" data-dtype="Number" type="text" class="field-value center"
        value="{{city.finances.total.buildings}}"/> <i data-tooltip="CM.currency.sp.label" class="fas fa-coins flex0" style="color:silver"></i>
    </div>
  </div>
  <div class="cm-cities-app-tab-header cm-cities-app-tab-line right gap4">
    <!-- Total -->
    <div class="flex1 flexrow gap4">
      <div class="right field-label">{{localize "CM.app.city.tab.finances.total.label"}}</div>
      <input readonly="true" data-dtype="Number" type="text" class="field-value center"
        value="{{city.finances.total.value}}"/> <i data-tooltip="CM.currency.sp.label" class="fas fa-coins flex0" style="color:silver"></i>
    </div>
  </div>
</section>