<section>
    <header class="cm-cities-app-header flexrow no-wrap">
        <img class="flex0 cm-cities-app-header-avatar" src="{{city.img}}" data-action="editImage" data-field="img"
            data-edit="city.img" data-tooltip="CM.app.city.tab.header.avatar.tooltip" />
        <div>
            <h1 class="cm-cities-app-header-title flexrow gap4">
                <input type="text" name="city.name" value="{{city.name}}" style="flex:11" {{#unless isEditable}}disabled{{/unless}} />
                <a {{#if city.map.id}}data-action="showMap" data-uuid="{{city.map.id}}"{{/if}} class="map-img drop-zone {{#unless city.map.img}}drag-over{{/unless}}" data-drop-map="true" style="background-image: url('{{city.map.img}}')"
                {{#unless city.map.img}}data-tooltip="CM.app.city.tab.header.city.map.tooltip"{{/unless}}></a>
            </h1>
            <div class="flexrow no-wrap gap4">
                <input class="flex2" type="text" name="city.description" value="{{city.description}}" placeholder="{{localize "CM.app.city.tab.header.city.desc.placeholder"}}"
                {{#unless isEditable}}disabled{{/unless}} />
                <select name="city.size" {{#unless isEditable}}disabled{{/unless}}>
                    {{selectOptions citySizeChoices selected=city.size localize=true}}
                </select>
            </div>
        </div>
    </header>
</section>