<div class="tab building-details" data-group='primary' data-tab="details">

  <div class="form-group">
    <label>{{localize "CM.building.type.label"}}</label>
    <select name="buildingType" {{disabled (not isEditable)}}>
      {{selectOptions @root.buildingTypes selected=key valueAttr="key" labelAttr="label" localize=true}}
    </select>
  </div>

  <div class="form-group">
    <label>{{localize "CM.building.size.label"}}</label>
    <select name="size" {{disabled (not isEditable)}}>
      {{selectOptions @root.buildingSizes selected=key valueAttr="key" labelAttr="label" localize=true}}
    </select>
  </div>

  <div class="form-group">
    <label>{{localize "CM.building.floors"}}</label>
    <input type="number" name="floors" value="{{building.floors}}" min="1" />
  </div>

  <div class="form-group">
    <label>{{localize "CM.building.condition"}}</label>
    <input type="number" name="condition" value="{{building.condition}}" min="0" max="100" />
  </div>

  <fieldset>
    <legend>{{localize "CM.building.economy"}}</legend>
    <div class="form-group">
      <label>{{localize "CM.building.cost"}}</label>
      <input type="number" name="cost" value="{{building.cost}}" />
    </div>
    <div class="form-group">
      <label>{{localize "CM.building.maintenance"}}</label>
      <input type="number" name="maintenance" value="{{building.maintenance}}" />
    </div>
    <div class="form-group">
      <label>{{localize "CM.building.income"}}</label>
      <input type="number" name="income" value="{{building.income}}" />
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "CM.building.defense"}}</legend>
    <div class="form-group">
      <label>{{localize "CM.building.hp"}}</label>
      <input type="number" name="defense.hp" value="{{defense.hp}}" />
      <span>/</span>
      <input type="number" name="defense.maxHp" value="{{defense.maxHp}}" />
    </div>
    <div class="form-group">
      <label>{{localize "CM.building.armor"}}</label>
      <input type="number" name="defense.armor" value="{{defense.armor}}" />
    </div>
  </fieldset>

</div>