<form>
    <div class="form-group">
        <div class="form-fields">
            <div>
                <label>{{localize "CM.dialog.newUnit.name.label"}}</label>
                <input class="field-value center" type="text" name="name" 
                placeholder="{{localize "CM.dialog.newUnit.name.placeholder"}}" 
                    value="{{localize "CM.dialog.newUnit.name.default.value"}}" />
            </div>

            <div>
                <label>{{localize "CM.dialog.newUnit.role.label"}}</label>
                <input class="field-value center" type="text" name="role" 
                    placeholder="{{localize "CM.dialog.newUnit.role.placeholder"}}" 
                    value="{{localize "CM.dialog.newUnit.role.default.value"}}" />
            </div>
            <div>
                <label>{{localize "CM.dialog.newUnit.nbr.label"}}</label>
                <input class="field-value center" type="number" name="nbr" value="1" />
            </div>
            <div>
                <label>{{localize "CM.dialog.newUnit.cost.label"}}</label>
                <input class="field-value center" type="number" name="cost" value="0" />
            </div>
        </div>
    </div>
</form>