<form>
    <div class="form-group">
        <div class="form-fields">
            <div>
                <label>{{localize "CM.dialog.newStat.name.label"}} <span class="required" data-tooltip="CM.dialog.field.mandatory" data-tooltip-direction="UP">*</span></label>
                <input class="field-value center" type="text" name="label" placeholder="{{localize "CM.dialog.newStat.name.placeholder"}}" value="{{localize label}}"/>
            </div>
        </div>
    </div>
    <fieldset>
        <legend>{{localize "CM.dialog.newStat.stats.legend"}}</legend>
        <div class="form-group">
            <div class="form-fields">
                <div>
                    <label>{{localize "CM.dialog.newStat.stats.base.label"}}</label>
                    <input class="field-value center" type="number" name="base" value="{{base}}" />
                </div>
                <div>
                    <label>{{localize "CM.dialog.newStat.stats.bonus.label"}}</label>
                    <input class="field-value center" type="number" name="bonus" value="{{bonus}}" />
                </div>
                <div>
                    <label>{{localize "CM.dialog.newStat.stats.malus.label"}}</label>
                    <input class="field-value center" type="number" name="malus" value="{{malus}}" />
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        <div class="form-fields">
            <div>
                <label>{{localize "CM.dialog.newStat.roll.formula.label"}} <span 
                class="info-icon" 
                data-tooltip="CM.dialog.newStat.roll.formula.tooltip.description"
                data-tooltip-direction="UP"
                >
                <i class="fas fa-info-circle"></i>
                </span></label>
                <div class="flexrow gap4">
                    <input class="field-value center" type="text" placeholder="{{localize "CM.dialog.newStat.roll.formula.placeholder"}}" name="rollFormula" value="{{rollFormula}}" />
                    <button class="flex0" type="button" data-action="addBaseToRoll" ><i class="fas fa-plus"></i> {{localize "CM.dialog.newStat.stats.base.label"}}</button>
                    <button class="flex0" type="button" data-action="addBonusToRoll" ><i class="fas fa-plus"></i> {{localize "CM.dialog.newStat.stats.bonus.label"}}</button>
                    <button class="flex0" type="button" data-action="addMalusToRoll" ><i class="fas fa-plus"></i> {{localize "CM.dialog.newStat.stats.malus.label"}}</button>
                </div>
            </div>
            
        </div>
    </div>
</form>