<form>
    <div class="form-group">
        <div class="form-fields">
            <div>
                <label>{{localize "CM.dialog.newBuilding.name.label"}} <span class="required" data-tooltip="CM.dialog.field.mandatory" data-tooltip-direction="UP">*</span></label>
                <input class="field-value center" type="text" name="name" placeholder="{{localize "CM.dialog.newBuilding.name.placeholder"}}" 
                value="{{localize name}}" />
            </div>
        </div>
    </div>
    <fieldset>
        <legend>{{localize "CM.dialog.newBuilding.details.legend"}}</legend>
        <div class="form-group">
            <div class="form-fields">
                <div>
                    <label>{{localize "CM.dialog.newBuilding.nbr.label"}}</label>
                    <input class="field-value center" type="number" name="nbr" value="{{nbr}}" />
                </div>
                <div>
                    <label>{{localize "CM.dialog.newBuilding.price.label"}}</label>
                    <input class="field-value center" type="number" name="price" value="{{price}}" />
                </div>
                <div>
                    <label>{{localize "CM.dialog.newBuilding.cost.label"}}</label>
                    <input class="field-value center" type="number" name="cost" value="{{cost}}" />
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>{{localize "CM.dialog.newBuilding.owner.legend"}}</legend>
        <div>
            <div class="drop-zone" id="owner-drop-zone" data-owner-id="{{owner.id}}">
                {{#if owner.id}}
                <div class="owner-preview flexrow gap8">
                    <img src="{{owner.img}}" alt="{{owner.name}}" class="cm-img-icon"/>
                    <span>{{owner.name}}</span>
                    <button type="button" class="flex0 owner-clear" title="Delete">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                {{else}}
                    <span><i class="fas fa-user-plus"></i> {{localize "CM.dialog.newBuilding.owner.placeholder"}}</span>
                {{/if}}
            </div>
            <input type="hidden" name="ownerUuid" value="{{owner.uuid}}"/>
            <input type="hidden" name="ownerId" value="{{owner.id}}"/>
            <input type="hidden" name="ownerName" value="{{owner.name}}"/>
            <input type="hidden" name="ownerImg" value="{{owner.img}}"/>
        </div>
    </fieldset>
</form>